<!DOCTYPE html>
<html>
<head>
    <!-- import the angular.js resources -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--import custom app logic -->
    <script src="app.js"></script>
    <!-- import some css -->
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
</head>
    
<body ng-app="checkout_app" ng-controller="checkout_ctrl">
    <!-- header -->
    <div>
        <h1>CATTHINGS</h1>
        <h2>Item Checkout</h2>
    </div>
    
    <!-- item table here -->
    <div>
        <h3>Available Items</h3>
        <table class="w3-table w3-bordered w3-striped">
            <tr>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Quantity Available</th>
                <th>Tags</th>
                <th>Add to cart</th>
            </tr>
            
            <tr ng-repeat="x in items">
                <td>{{ x.item_name }}</td>
                <td>{{ x.description }}</td>
                <td>{{ x.quantity }}</td>
                <td>{{ x.tags }}</td>
                <td><button ng-click="addToCart( x.id )" class="w3-btn w3-ripple">Add to Cart</button></td>
            </tr>
        </table>
    </div>
    
    
    <!-- Cart -->
    <div>
        <h3>Cart</h3>
        <table class="w3-table w3-bordered w3-striped">
            <tr>
                <th>Item Name</th>
                <th>Qty</th>
                <td></td>               
            </tr>
            <tr ng-repeat="cart_item in cart">
                <td>{{ cart_item.item_name }}</td>
                <td>{{ cart_item.quantity }}</td>
                <td><button class="w3-btn w3-ripple">Remove From Cart</button></td>
            </tr>
        </table>
    </div>
    <!-- Checkout section -->
    <div>
        <button ng-click="checkout" class="w3-btn w3-ripple">Checkout</button>        
    </div>
</body>
</html>

