<!DOCTYPE html>
<html>
<head>
    <title>CATTHINGS</title>
    <!-- import the angular.js resources -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- import Angularjs UI-bootstrap -->
    <script src="/libs/ui-bootstrap-tpls-2.3.0.js"></script>
    <!--import custom app logic -->
    <script src="app.js"></script>
    
    <!-- import some css -->
    <!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> -->
    <!-- Bootstrap css -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
    
<body ng-app="checkout_app" ng-controller="checkout_ctrl">
    <!-- header -->
    <div>
        <h1>CATTHINGS</h1>
        <h2>Item Checkout</h2>
    </div>
    
    <!-- item table here -->
    <div>
        <h3>Available Items</h3>
        <table class="table table-striped">
            <tr>
                <th>Item Name</th>
                <th>Item Description</th>
                <th>Quantity Available</th>
                <th>Tags</th>
                <th>Add to cart</th>
            </tr>
            
            <tr ng-repeat="x in items">
                <td>{{ x.item_name }}</td>
                <td>{{ x.description }}</td>
                <td>{{ x.quantity }}</td>
                <td>{{ x.tags }}</td>
                <td><button ng-click="addToCart( x.id )" class="btn btn-primary">Add to Cart</button></td>
            </tr>
        </table>
    </div>
    
    
    <!-- Cart -->
    <div>
        <h3>Cart</h3>
        <table class="table table-striped">
            <tr>
                <th>Item Name</th>
                <th>Qty</th>
                <td></td>               
            </tr>
            <tr ng-repeat="cart_item in cart">
                <td>{{ cart_item.item_name }}</td>
                <td><input type="number" ng-model="cart_item.quantity"></input></td>
                <td><button ng-click="removeFromCart(cart_item.id)" class="btn btn-danger">Remove From Cart</button></td>
            </tr>
        </table>
    </div>
    <!-- Checkout section -->
    <div>
        <button ng-click="checkout()" class="btn btn-primary">Checkout</button>        
    </div>
</body>
</html>
