.navbar-default {
  font-family: "Roboto Condensed",sans-serif;
  /*background-color: black;*/
}
.table th, .table td{
  text-align: center;
}

ul.navbar-nav li a {
    color: #6e6a6a;
    font-size: 14px;
    padding: 20px;
}

ul.navbar-nav li:hover a, ul.navbar-nav li.active a {background: #4aaf51; color:#FFF;}
.nav > li > a:focus {color: #FFF;}
.cartContainer {padding-bottom: 50px; padding-top:20px;}


.footer-bottom-area {
  font-family: raleway;
  background: none repeat scroll 0 0 #000;
  color: #fff;
  /*padding-bottom: 40px;*/
  position: absolute;
  width: 100%;
  bottom: 0;
}
