/*
.navbar-default {
  font-family: "Roboto Condensed",sans-serif;
  background-color: black;
}
*/

.mainmenu-area {background: none repeat scroll 0 0 #fbfbfb;
font-family: "Roboto Condensed",sans-serif;
text-transform: uppercase;
width: 100%;
z-index: 999;}

.logo h1 {
    font-size: 20px;
    margin: 30px 0;
    font-weight: 400;
    vertical-align: top;
}
.logo h1 a {
    color: #999;
}
.logo h1 a:hover {text-decoration: none;opacity: .7}*/
.logo h1 a span {
    color: #5a88ca;
}

.shopping-item {
    border: 1px solid #ddd;
    float: right;
    font-size: 18px;
    margin-top: 40px;
    padding: 10px;
    position: relative;
}
.shopping-item a {
    color: #666;
}

.cart-amount {
    color: #5a88ca;
    font-weight: 700;
}

.product-count {
    background: none repeat scroll 0 0 #4aaf51;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    padding-top: 2px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 20px;
}
.shopping-item i.fa {
    margin-left: 15px;
}

.shopping-item:hover {
    background: none repeat scroll 0 0 #4aaf51;
    border-color: #4aaf51;
}
.shopping-item:hover a {
    color: #fff;text-decoration: none
}
.shopping-item:hover .cart-amunt {
    color: #fff;
}
.shopping-item:hover .product-count {
    background: none repeat scroll 0 0 #000;
}

.mainmenu-area ul.navbar-nav li a {
    color: #6e6a6a;
    font-size: 14px;
    padding: 20px;
}

.mainmenu-area ul.navbar-nav li:hover a, .mainmenu-area ul.navbar-nav li.active a {background: #4aaf51; color:#FFF;}
.mainmenu-area .nav > li > a:focus {color: #FFF;}
.maincontent-area {padding-bottom: 50px; padding-top:20px;}


.footer-wid-title {
  font-family: raleway;
  font-size: 30px;
  font-weight: 100;color: #fff
}

.footer-bottom-area {
  background: none repeat scroll 0 0 #000;
  color: #fff;
  padding-bottom: 40px;
}
