<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CAT THINGS</title>

    <!-- Custom CSS
    <link rel="stylesheet" href="templates/css/home.css" />
  -->
  </head>

  <body>
    <!-- Navigation Bar-->
    <nav class="navbar navbar-default" ng-controller="NavBarController">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CAT</a>
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
          <ul class="nav navbar-nav">
            <li><a ng-href="#home">Inventory</a></li>
            <li class="active"><a ng-href="#checkin">Check In</a></li>
            <li><a ng-href="#shoppinglist">Shopping List</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-right" ng-href="#login">Logout <i class="fa fa-sign-out"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Check-In Form-->
    <div class="container">
      <form role="form" class="request-form" ng-app "catthings_app" ng-controller="CheckInController">
        <div class="form-group">
          <label for="itemName">Name:</label>
          <input type="text" ng-model="question.itemName" name = "itemName" placeholder="Name of item" class="form-control" required>
        </div>

        <!-- Add a table that searches DB for an item with that name that admin selects to check in
             This takes care of items with multiple names -->
       <table datatable="ng" class="table table-bordered">
         <thead class="thead-inverse">
           <tr>
             <th><b>Name</b></th>
             <th><b>Description</b></th>
             <th><b>Quantity</b></th>
           </tr>
         </thead>
         <tbody>
           <tr ng-repeat="item in stuff | orderBy:'name'">
             <td>{{ item.name }}</td>
             <td>{{ item.description }}</td>
             <td>{{ item.quantity }}</td>
           </tr>
         </tbody>
        </table>

        <div class="form-group">
          <label for="quantityNeeded">Quantity:</label>
          <input type="number" ng-model="question.quantityNeeded" name = "quantityNeeded" placeholder="Number requested" class="form-control" min="0" required>
        </div>
        <div class="form-group">
          <input type="submit" ng-click=checkin() value="Submit">
        </div>
      </form>
    </div>

  </body>
