<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CAT THINGS</title>

    <!-- Custom CSS
    <link rel="stylesheet" href="templates/css/home.css" />
  -->
  </head>

  <body>
        <!-- Navigation Bar-->
    <bootstrap-navbar></bootstrap-navbar>

    <!-- Check-In Form-->
    <div class="container">
      <form role="form" class="request-form" ng-app "catthings_app" ng-controller="CheckInController">
        <div class="form-group">
          <label for="itemName">Name:</label>
          <input type="text" ng-model="question.itemName" name = "itemName" placeholder="Name of item" class="form-control" required>
        </div>

        <!-- Add a table that searches DB for an item with that name that admin selects to check in
             This takes care of items with multiple names -->

        <div class="form-group">
          <label for="quantityNeeded">Quantity:</label>
          <input type="number" ng-model="question.quantityNeeded" name = "quantityNeeded" placeholder="Number requested" class="form-control" min="0" required>
        </div>
        <div class="form-group">
          <input type="submit" ng-click=checkin() value="Submit">
        </div>
      </form>
    </div>

  </body>
