<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CAT THINGS</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="templates/css/home.css">
  </head>

  <body>
    <!-- Navigation Bar-->
    <nav class="navbar navbar-default" ng-controller="NavBarController">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">CAT</a>
          <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
      				<span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
          <ul class="nav navbar-nav">
            <li class="active"><a ng-href="#home">Inventory</a></li>
            <li><a ng-href="#request">Request Item</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-right" ng-href="#cart">Cart <i class="fa fa-shopping-cart"></i></a></li>
            <li><a class="navbar-right" ng-href="#login">Logout <i class="fa fa-sign-out"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!--Inventory Table -->
    <div class="inventoryContainer" ng-app="catthings_app" align="center" ng-controller="InventoryController">
      <table class="table table-bordered" id="inventoryTable">
        <thead class="thead-inverse">
          <tr>
            <th><b>Name</b></th>
            <th><b>Description</b></th>
            <th><b>Quantity</b></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in inventory">
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.quantity }}</td>
            <td><button type="button" class="btn btn-default btn-sm" ng-click="addToCart(item)">Add to Cart</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--Footer -->
    <div class="footer-bottom-area container row col-md-8">
      <div class="copyright">
          <p>&copy; Computer Action Team. All Rights Reserved. </p>
      </div>
    </div>
  </body>
</html>
