<!--request page which allows a user to enter details about an item they want added to the inventory
This information is packaged up and sent to the API to be emailed to an administrator
written by Austen Ruzicka-->

<body>
  <nav class="navbar navbar-default" ng-controller="NavBarController">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CAT</a>
        <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
        <ul class="nav navbar-nav">
          <li><a href="home.html">Inventory</a></li>
          <li class="active"><a ng-href="#request">Request Item</a></li>
          <li><a ng-href="#shoppinglist">Shopping List</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-right" href="cart.html">Cart <i class="fa fa-shopping-cart"></i></a></li>
          <li><a class="navbar-right" href="login.html">Logout <i class="fa fa-sign-out"></i></a></li>
        </ul>

    </div>
  </nav>

  <div class="container">
  <form role="form" class="request-form" ng-app "catthings_app" ng-controller="RequestController">
    <div class="form-group">
      <label for="itemName">Name:</label>
      <input type="text" ng-model="question.itemName" name = "itemName" placeholder="Name of item" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="quantityNeeded">Quantity:</label>
      <input type="number" ng-model="question.quantityNeeded" name = "quantityNeeded" placeholder="Number requested" class="form-control" min="0" required>
    </div>
    <div class="form-group">
      <label for="personName">Your Name:</label>
      <input type="text" ng-model="question.personName" name="personName" class = "form-control" required>
    </div>
    <div class="form-group">
      <label for="email">Your E-mail:</label>
      <input type "email" ng-model="question.email" name="email" class = "form-control" required>
    </div>
    <div class="form-group">
      <label for="date">Date Needed:</label>
      <input type "date" ng-model="question.date" name="date" placeholder="When is this item needed?" class = "form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea cols="50" rows="4" ng-model="question.description" name="description" placeholder="Describe the item, including where it can be bought" class = "form-control" required></textarea>
    </div>
    <div class="form-group">
      <label for="message">Additional Information:</label>
      <textarea cols="50" rows="4" ng-model="question.message" name="message" placeholder="Any additional information for the administrator" class = "form-control"></textarea>
    </div>
    <div class="form-group">
      <input type="submit" ng-click=sendRequest() value="Submit">
    </div>
  </form>
  </div>
</body>
