<!--View history page-->
<!--Written by Austen Ruzicka-->

<!-- Navigation Bar-->
<nav class="navbar navbar-default" ng-controller="NavBarController">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CAT</a>
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#home">Inventory</a></li>
        <li><a ng-href="#request">Request Item</a></li>
        <li><a ng-href="#shoppinglist">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-right" ng-href="#login">Logout <i class="fa fa-sign-out"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

<!--Recent History Table and Fields-->
<div class="container">
<form role="form" class="recent-form" ng-app "catthings_app" ng-controller="HistoryController">
  <div class="form-group">
    <label for="numRecent">Number of Recent Transactions:</label>
    <input type="number" ng-model="numRecent" name = "numRecent" placeholder="Number of recent transactions to display" class="form-control" min="0" optional>
  </div>
  <div class="form-group">
    <input type="submit" ng-click=getRecentHistory() value="Get Recent Transactions">
  </div>
</form>
</div>

<div class="container" ng-app="catthings_app" align="center" ng-controller="HistoryController">
  <table datatable="ng" class="table table-bordered" id="recentHistoryTable">
    <thead class="thead-inverse">
      <tr>
        <th><b>Transaction ID</b></th>
        <th><b>Item ID</b></th>
        <th><b>Person</b></th>
        <th><b>Quantity Changed</b></th>
        <th><b>Quantity Remaining</b></th>
        <th><b>Time of Transaction</b></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in recentHistory">
        <td>{{ item.transaction_id }}</td>
        <td>{{ item.item_id }}</td>
        <td>{{ item.person }}</td>
        <td>{{ item.qty_changed }}</td>
        <td>{{ item.qty_remaining }}</td>
        <td>{{ item.timestamp }}</td>
      </tr>
    </tbody>
  </table>
</div>

<!--Footer
<div class="footer-bottom-area container row col-md-8">
  <div class="copyright">
      <p>&copy; Computer Action Team. All Rights Reserved. </p>
  </div>
</div>
-->
</body>
</html>
